<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parse_client_id</key>
	<string>jxdPA2AcundB4WBTlFZeHUOZBiZli5iUo1On62H9</string>
	<key>parse_application_id</key>
	<string>RF9iKp2I6uzQ5ng9DQDeYppaNC3N21w3vmIGop4H</string>
</dict>
</plist>
